@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     position: relative;
}
.image {
    background-image:url('download.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-color: blanchedalmond;
}
.second {
  position:absolute;
  left:0px;
  right:0px;
  top:581px;
background-color:rgb(203, 220, 223);
max-width:80%;
height: 150px;
margin-left: auto;
margin-right:auto;
text-align: center;
}


